<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
.row {
	margin: 0px auto;
	width: 750px;
}

.container {
	margin-top: 50px;
}
</style>
<!-- 
	JSP(MVC) Oracle ============== Ajax(Jquery) => JDBC
	
	Spring-Framework : Oracle ==== Vue3 => MyBatis
	
	개인 - Spring-Boot : MySQL ==== React / React-Query / Redux  
					     | JPA
	Python / ElasticSearch => 이거 두개는 안들어가도됌
	----------------------
	  AWS / Docker / Git - Git Actions
	  NextJS , Vuex				     	
	
	-->

</head>
<body>
	<div class="container">
		<div class="row">
			<table class="table">
				<tr>
				 <td class="text-center">
				 	<img th:src="${vo.poster}" style="width: 700px; height: 350px">
				 </td>
				</tr>
				<tr>
				  <td>[[${vo.address}]]</td>
				</tr>
				<tr>
				  <td>[[${vo.phone}]]</td>
				</tr>
				<tr>
				  <td>[[${vo.info}]]</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>