<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
.row {
	margin: 0px auto;
	width: 960px;
}

p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container {
	margin-top: 50px;
}
</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<form method="post" action="/find">
				<input type="text" name=title size=20 class="input-sm">
				<input type="submit" value="검색" class="btn-sm btn-primary">
			</form>
		</div>
		<div class="row" style="margin-top: 10px;">
		
			<div class="col-md-3" th:each="vo:${list}"> <!--  for(BusanVO vo:list) -->
			    <div class="thumbnail">
			      <a th:href="@{/detail(id=${vo.id})}">
			        <img th:src="${vo.poster}" style="width:230px;height: 120px">
				        <div class="caption">
				          <p>[[${vo.title}]]</p>
				        </div>
			      </a>
			    </div>
		 	 </div>
		
		</div>
	</div>
</body>
</html>