<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
.row {
	margin: 0px auto;
	width: 960px;
}

p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container {
	margin-top: 50px;
}
</style>
</head>

<body>
	<div class="container">
		<div class="row">
		
			<div class="col-md-3" th:each="vo:${list}"> <!--  for(BusanVO vo:list) -->
			    <div class="thumbnail">
			      <a th:href="@{/detail(id=${vo.id})}">
			        <img th:src="${vo.poster}" style="width:230px;height: 120px">
			        <div class="caption">
			          <p>[[${vo.title}]]</p>
			        </div>
			      </a>
			    </div>
		 	 </div>
		
		</div>
	</div>
	<div class="row text-center" style="margin-top: 20px;">
		<ul class="pagination">
			<li th:id="${startPage>1}"><a th:href="@{/(page=${startPage-1})}">&lt</a></li>
			<li th:class="${curpage==i?'active':''}" th:each="i:${#numbers.sequence(startPage,endPage)}"><a th:href="@{/(page=${i})}">[[${i}]]</a></li>
			<li th:if="${endPage<totalpage}"><a th:href="@{/(page=${endPage+1})}">&gt</a></li>
			
		</ul>
		
	</div>
</body>
</html>