<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container{
   margin-top: 50px
}
.row {
   margin: 0px auto;
   width:960px;
}
p{
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
</style>
</head>
<body>
   <!-- 
      JSP =>  ?page=1
      @{/busan/detail(id=${vo.id})}
      axios : params:{}
      ajax  : data:{}
      react : ?page=${page}
    -->
   <div class="container">
    <div class="row">
     <div class="col-md-3" th:each="vo:${list}"> <!--  for(BusanVO vo:list) -->
	    <div class="thumbnail">
	      <a th:href="@{/busan/detail(id=${vo.id})}">
	        <img th:src="${vo.poster}" style="width:230px;height: 120px">
	        <div class="caption">
	          <p>[[${vo.name}]]</p>
	        </div>
	      </a>
	    </div>
	  </div>
    </div>
    <!-- 
      @{/busan/list(page=${startPage-1},no=1,curpage=2....)}
        /busan/list?page=1&no=1&curpage=2....
        
        th:each="i:${#numbers.sequence(startPage,endPage)}" == range()
        
        <c:if> <c:forEach> 
        v-if v-for 
        => JSP / Vue / ThymeLeaf => 출력만 
           --------------------- View 
     -->
    <div style="height: 10px"></div>
    <div class="row text-center" >
      <ul class="pagination">
       <li th:if="${startPage>1}"><a th:href="@{/busan/list(page=${startPage-1})}">&laquo;</a></li>
       <li th:class="${curpage==i?'active':''}" th:each="i:${#numbers.sequence(startPage,endPage)}">
         <a th:href="@{/busan/list(page=${i})}">[[${i}]]</a>
       </li>
       <li th:if="${endPage<totalpage}"><a th:href="@{/busan/list(page=${endPage+1})}">&raquo;</a></li>
      </ul>
    </div>
   </div>
</body>
</html>