<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
.row {
	margin: 0px auto;
	width: 960px;
}

p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container {
	margin-top: 50px;
}
</style>

</head>
<body>
	<div class="container">
		<div class="row">
		  <h3>JAP를 이용한 일반 게시판</h3>
			<table class="table">
				<tr>
					<td><a href="/insert" class="btn-sm btn btn-danger">새글</a></td>
				</tr>
			</table>
			<table class="table">
				<tr>
					<th width=10% class="text-center">번호</th>
					<th width=45% class="text-center">제목</th>
					<th width=15% class="text-center">이름</th>
					<th width=20% class="text-center">작성일</th>
					<th width=10% class="text-center">조회수</th>

				</tr>
				<tr th:each="vo:${list}">
					<th width=10% class="text-center">[[${vo.no}]]</th>
					<th width=45% ><a th:href="@{/detail(no=${vo.no})}">[[${vo.subject}]]</a></th>
					<th width=15% class="text-center">[[${vo.name}]]</th>
					<th width=20% class="text-center">[[${vo.regdate}]]</th>
					<th width=10% class="text-center">[[${vo.hit}]]</th>

				</tr>
				<tr>
				  <td colspan="5" class="text-center">
				  <a th:if="${curpage>1}" th:href="@{/list(page=${curpage - 1})}" class="btn btn-sm btn-info">이전</a>
				  [[${curpage}]] page / [[${totalpage}]] pages
				  <a th:if="${curpage<totalpage}" th:href="@{/list(page=${curpage + 1})}" class="btn btn-sm btn-info">다음</a>
				  </td>
				</tr>

			</table>
		</div>
	</div>

</body>
</html>