<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container{
   margin-top: 50px
}
.row {
   margin: 0px auto;
   width:960px;
}
p{
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
</style>
</head>
<body>
   <div class="container">
    <div class="row">
     <div class="col-md-3" th:each="vo:${list}"> <!--  for(BusanVO vo:list) -->
	    <div class="thumbnail">
	      <a href="#">
	        <img th:src="${vo.poster}" style="width:230px;height: 120px">
	        <div class="caption">
	          <p>[[${vo.title}]]</p>
	        </div>
	      </a>
	    </div>
	  </div>
    </div>
    <div style="height: 10px"></div>
    <div class="row text-center" >
      <a th:href="@{/music/list(page=${curpage>1?curpage-1:curpage})}" class="btn btn-sm btn-danger">이전</a>
      [[${curpage}]] page / [[${totalpage}]] pages
      <a th:href="@{/music/list(page=${curpage<totalpage?curpage+1:curpage})}" class="btn btn-sm btn-danger">다음</a>
    </div>
   </div>
</body>
</html>