<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
.row {
	margin: 0px auto;
	width: 960px;
}

p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
</style>

</head>
<body>
	<div class="container">
		<div class="row">
		
			 <div class="col-md-3" th:each="vo:${list}"> <!--  for(BusanVO vo:list) -->
			    <div class="thumbnail">
			      <a th:href="'#'">
			        <img th:src="${vo.poster}" style="width:230px;height: 120px">
			        <div class="caption">
			          <p>[[${vo.title}]]</p>
			        </div>
			      </a>
			    </div>
		 	 </div>
		
		
		</div>
	</div>
	<div style="height: 10px"></div>
	<div class="row text-center">
		<ul class="pagination">
		 <li th:if="${startPage>1}"><a th:href="@{/info/list(page=${startPage-1})}">&laquo;</a>
		 <li th:class="curpage==i?'active':''" th:each="i:${#numbers.sequence(startPage,endPage)}">
		   <a th:href="@{/info/list(page=${i})}">[[${i}]]</a>
		 <li th:if="${endPage<totalpage}"><a th:href="@{/info/list(page=${endPage+1})}">&raquo;</a>
		</ul>
	</div>
	</body>
</html>