<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border=1 bordercolor=black width=700>
		<tr>
			<th>사번</th>
			<th>이름</th>
			<th>직위</th>
			<th>입사일</th>
			<th>급여</th>
		</tr>
		<tr th:each="vo : ${list}">
			<td th:text="${vo.empno}"></td>
			<td><a th:href="@{/emp/detail(empno=${vo.empno})}"
				th:text="${vo.ename}"></a></td>
			<td><span th:text="${vo.job}" style="color: red;"></span></td>
			<td th:text="${vo.hiredate}"></td>
			<td th:text="${vo.sal}"></td>
		</tr>
	</table>
</body>
</html>